parameters:
    level: max
    paths:
        - src
        - tests
        - vendor-bin/phpunit/vendor
    excludePaths:
        analyse:
            - tests/ClientTest/guzzle.php
            - tests/ClientTest/symfony.php
            - vendor-bin/phpunit/vendor
    treatPhpDocTypesAsCertain: false
